@media screen and (min-device-width: 414px) and (max-device-height: 736px) {
    header {
        margin: 15px;
        padding: 15px;
    }
    #logo {
        margin: 0;
    }
    .bar {
        flex-direction: column-reverse;
        width: 100%;
    }
    nav {
        width: 100%;
    }
    nav li {
        display: inline-flex;
        justify-content: space-around;
        margin: 0;
        padding-top: 0;
        padding-bottom: 10px;
        border-bottom: 2px #f2f2f2 solid;
        width: 42%;
        font-size: x-large;
    }
    nav li:hover {
        border-bottom: 2px solid;
        padding-bottom: 10px;
        color: #0065fc;
    }
    nav li a {
        padding: 0;
        margin: 40px 0 0 20px;
    }
    nav li a:hover {
        border-top: none;
    }
    .inscrire {
        align-self: flex-end;
        
    }
    .main h1 {
        font-size: 50px;
    }
    .container {
        display: inline-block;
        margin-top: 15px;
    }
    .Filtre {
        display: block;
        margin-top: 20px;
        margin-left: 0;
    }
    #Familial {
        position: relative;
        left: 70%;
        margin-top: -19px;
    }
    .Info {
        background-color: white;
        color: #0065fc;
        display: inline-block;
        margin: 25px 23px 30px -1px;
        border-radius: 10px;
        border: 1px solid #deebff;
    }
    #Hebergements {
        display: flex;
        flex-direction: column-reverse !important;
        align-items: normal;
    }
    .Populaires {
        margin-bottom: 50px;
    }
    .contain2 {
        margin: auto;
    }
    .bloc2 {
        width: 274px;
        margin-left: 0;
    }
    .bloc2 img {
        width: 100px;
    }
    .Marseille {
        background-color: #fff;
    }
    .contain {
        display: flex;
        flex-direction: column;
    }
    .bloc {
        flex: 0;
        flex-direction: column;
    }
    .Activites {
        margin-bottom: 10px;
    }
    .contain3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Activites1 {
        margin: 0 0 44px 0;
    }
    .Activites2 {
        margin: 0 0 44px 0;
    }
    .footer {
        background-color: #f2f2f2;
        flex-direction: column;
        /*margin-left: 29px;
            margin-right: 30px;*/
    }
    .A_propos {
        margin-left: 49px;
    }
    .Nos_hebergements {
        margin-left: 49px;
    }
    .Assistance {
        margin-left: 49px;
    }
}