html {
    font-family: 'Raleway', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
}

#logo {
    width: 94px;
    margin: 21px 14px 22px 50px;
    height: auto;
}

a:link {
    text-decoration: none;
}

.bar {
    display: flex;
}

nav {
    display: flex;
    align-items: center;
}

nav li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin: 0px 14px 40px 50px;
}
nav a{
    padding-top: 35px;
}

/*visited link */

nav a:visited {
    color: black;
}

/*mouse over link */

nav a:hover {
    border-top: 1px solid #0065fc;
    color: #0065fc;
}

.inscrire {
    display: flex;
    align-items: center;
    color: #0065fc;
    margin: 21px 55px 22px 50px;
}

.main h1 {
    font-size: 20px;
    margin-left: 50px;
}

.main p {
    font-size: 15px;
    margin-left: 50px
}

#Recherche {
    font-size: 14px;
    margin-left: 50px
}

.Localisation {
    background-color: #f2f2f2;
    border: none;
    color: black;
    padding: 11px 15px;
    display: inline-block;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}

.lieu {
    background-color: white;
    position: relative;
    width: 179px;
    height: 38px;
    display: inline-block;
    margin: -4px;
    border: 1.5px solid #f2f2f2;
    font-size: 17px;
    padding-right: 57px;
}

.Search {
    background-color: #0065fc;
    color: white;
    padding: 10px 10px;
    display: inline-block;
    border: 1.5px solid #f2f2f2;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
}

.Search2 {
    display: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 15px;
}

.container p {
    margin-right: 25px;
}

.Filtre {
    background-color: white;
    color: black;
    padding: 13px 13px;
    text-decoration: black;
    display: inline-block;
    padding-left: 55px;
    border: 2px solid #f2f2f2;
    border-radius: 20px;
    position: relative;
    margin-right: 20px;
    font-size: 13px;
}

.Icon {
    background-color: #deebff;
    color: #0065fc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    position: absolute;
    left: -1px;
    top: -1px;
    height: 43px;
    width: 46px;
    font-size: 18px;
}

.Info {
    background-color: white;
    color: #0065fc;
    display: inline-block;
    margin: 25px 23px 30px -1px;
    border-radius: 10px;
    border: 1px solid #deebff;
}

#Hebergements {
    display: flex;
}

.Marseille {
    background-color: #f2f2f2;
    margin: 0 0 23px 38px;
    border-radius: 25px;
}

.titre1 {
    display: flex;
    padding: 19px 0 0 32px;
}

.contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: 14px;
}

.bloc {
    border-radius: 25px;
    margin-top: 30px;
    box-shadow: 0 0 6px 3px #b1b1b14b;
    background-color: white;
    padding: 3px;
    display: flex;
    flex-direction: column;
    width: 27%;
    height: 200px;
}

.bloc img {
    height: 55%;
    width: 100%;
    margin-right: 11px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #fff;
}

.text {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.text h3 {
    font-size: 17px;
}

.text p {
    font-size: 14px;
    margin-top: -13px;
    margin-left: 0px;
}

.star {
    margin-bottom: 10px;
    margin-left: 12px;
    font-size: 16px;
}

h3 {
    color: black;
}

.nuit {
    color: black;
}

.checked {
    color: #0065fc;
}

.etoile {
    color: #f2f2f2;
}

.afficher {
    margin-top: 75px;
    padding-bottom: 22px;
    position: relative;
    bottom: 24px;
}

.Populaires {
    background-color: #f2f2f2;
    border-radius: 25px;
    margin: 0px 58px 0 50px;
}

.titre2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 19px;
}

.titre2 i {
    font-size: 24px;
}

.contain2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-flow: wrap;
}

.bloc2 {
    border-radius: 25px;
    box-shadow: 0 0 6px 3px #b1b1b14b;
    background-color: #fff;
    display: flex;
    width: 78%;
    height: 156px;
    margin: 20px;
}

.bloc2 img {
    width: 47%;
    height: 95%;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin: 4px;
}

.pop_contain2 {
    display: column;
    margin: 10px
}

.pop_contain2 h3 {
    font-size: 18px;
    margin-top: 5px;
}

.pop_contain2 p {
    font-size: 13px;
    margin: 5px 0 40px 0;
}

.star2 {
    display: flex;
}

.titre3 {
    margin: 4vw 2.2vw 2vw 3.5vw;
}

.contain3 {
    display: flex;
    justify-content: space-between;
    margin: 0 3.3vw 3.5vw;
    height: 31.5vw;
}

#bloc3_1 {
    border-radius: 25px;
    margin-top: 30px;
    box-shadow: 0 0 6px 3px #b1b1b14b;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 68%;
    height: 93%;
}

#bloc3_1 img {
    height: 85%;
    width: 100%;
    margin-right: 11px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #fff;
}

#bloc3_2 {
    border-radius: 25px;
    margin-top: 30px;
    box-shadow: 0 0 6px 3px #b1b1b14b;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 50%;
}

#bloc3_2 img {
    height: 76%;
    width: 100%;
    margin-right: 11px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #fff;
}

#bloc3_3 {
    border-radius: 25px;
    margin-top: 30px;
    box-shadow: 0 0 6px 3px #b1b1b14b;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 79%;
    height: 37%;
}

#bloc3_3 img {
    height: 68%;
    width: 100%;
    margin-right: 11px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #fff;
}

#bloc3_4 {
    border-radius: 25px;
    margin-top: 30px;
    box-shadow: 0 0 6px 3px #b1b1b14b;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 77%;
    height: 93%;
}

#bloc3_4 img {
    height: 85%;
    width: 100%;
    margin-right: 11px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #fff;
}

#bloc3_5 {
    border-radius: 25px;
    margin-top: 30px;
    box-shadow: 0 0 6px 3px #b1b1b14b;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 84%;
    height: 43%;
}

#bloc3_5 img {
    height: 67%;
    width: 100%;
    margin-right: 11px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #fff;
}

#bloc3_6 {
    border-radius: 25px;
    margin-top: 30px;
    box-shadow: 0 0 6px 3px #b1b1b14b;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 84%;
    height: 43%;
}

#bloc3_6 img {
    height: 69%;
    width: 100%;
    margin-right: 11px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #fff;
}

.footer {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
}

.footer p {
    padding-top: 6px;
    padding-bottom: 6px;
}

.footer a {
    color: black;
}

.footer h2 {
    padding-top: 15px;
}

.A_propos {
    margin-left: -75px;
}

.Nos_hebergements {
    margin-left: -17px;
}

.Assitance {
    margin-right: 142px;
}